{{notification_banner|safe }}
<div class="wrapper">
  {{ command_palette|safe }}
  <button
      id="command-palette-toggler"
      hx-put="/command-palette/toggle"
      hx-trigger="click"
      hx-target="body"
      hx-swap="outerHTML"
  >
    <p style="writing-mode: vertical-rl; text-orientation: mixed;">
      {{ 'Collapse' if show_command_palette else 'Expand' }}
    </p>
  </button>

  {{ null|safe }}

  <div
    id="port"
    class="inner"
    hx-put="/port"
    hx-trigger="update-port from:body"
    hx-target="this"
    hx-swap="innerHTML"
    style="width: {{ '78%' if show_command_palette else '98%' }};"
  >
    {{ data|safe }}
  </div>
</div>
