<div
  id="bulk-editor"
  class="section"
  hx-put="/bulk-editor"
  hx-trigger="bulk-editor from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="display: {{ 'inherit' if show_bulk_editor else 'none' }};"
>
  <h1 class="command-palette">BULK EDITOR</h1>

  <form
    hx-post="/bulk-editor"
    hx-target="#bulk-editor"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Operation</legend>
      {% if show_help %}
      <p class="command-palette">
        Use the following short-cuts on an existing selection:
      </p>
      <ul class="command-palette">
        <li class="command-palette">[x]: Cut</li>
        <li class="command-palette">[c]: Copy</li>
        <li class="command-palette">[v]: Paste</li>
        <li class="command-palette">[i]: Insert one row/column before</li>
        <li class="command-palette">[Del]: Delete</li>
        <li class="command-palette">[m]: Move row/column one forward</li>
        <li class="command-palette">[n]: Move row/column one backward</li>
        <li class="command-palette">[l]: Insert row at end</li>
        <li class="command-palette">[L]: Insert column at end</li>
      </ul>
      <br>
      {% endif %}
      <select
        id="bulk-editor-operation"
        name="operation"
        hx-get="/bulk-editor/operation"
        hx-target="#bulk-editor-operation-form"
        hx-swap="outerHTML"
      >
        {% for operation_option in operation_options %}
        {% if operation_option == operation or (not operation and loop.index == 0) %}
        <option value="{{ operation_option }}" selected>{{ operation_option }}</option>
        {% else %}
        <option value="{{ operation_option }}">{{ operation_option }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ operation_html|safe }}

    <input type="submit" value="↵" id="bulk-editor-submit"/>
  </form>
</div>
