<div
  id="bulk-editor"
  class="section"
  hx-put="/bulk-editor"
  hx-trigger="bulk-editor from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="display: {{ 'inherit' if show_bulk_editor else 'none' }};"
>
  <h1 class="command-palette">BULK EDITOR</h1>

  <form
    hx-post="/bulk-editor"
    hx-target="#bulk-editor"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Operation</legend>
      <select
        id="bulk-editor-operation"
        name="operation"
        hx-get="/bulk-editor/operation"
        hx-target="#bulk-editor-operation-form"
        hx-swap="outerHTML"
      >
        {% for operation_option, operation_name in operation_options.items() %}
        {% if operation_option == operation or (not operation and loop.index == 0) %}
        <option value="{{ operation_option }}" selected>{{ operation_name }}</option>
        {% else %}
        <option value="{{ operation_option }}">{{ operation_name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ operation_html|safe }}

    <input type="submit" value="↵" id="bulk-editor-submit"/>
  </form>
</div>
