<div
  id="command-palette"
  style="display: {{ 'inherit' if show_command_palette else 'none' }};"
>
  <button
      id="help-toggler"
      class="toggler"
      hx-put="/help/toggle"
      hx-trigger="click"
      hx-target="#command-palette"
      hx-swap="outerHTML"
  >
    [?] HELP
    {% if show_help %}
    [Ctrl+0]
    {% endif %}
  </button>
  <button
      id="editor-toggler"
      class="toggler"
      hx-put="/editor/toggle"
      hx-trigger="click"
      hx-target="#editor"
      hx-swap="outerHTML"
  >
    EDITOR
    {% if show_help %}
    [Ctrl+1]
    {% endif %}
  </button>
  {{ editor|safe }}
  <button
      id="selection-toggler"
      class="toggler"
      hx-put="/selection/toggle"
      hx-trigger="click"
      hx-target="#selection"
      hx-swap="outerHTML"
  >
    SELECTION
    {% if show_help %}
    [Ctrl+2]
    {% endif %}
  </button>
  {{ selection|safe }}
  <button
      id="bulk-editor-toggler"
      class="toggler"
      hx-put="/bulk-editor/toggle"
      hx-trigger="click"
      hx-target="#bulk-editor"
      hx-swap="outerHTML"
  >
    BULK-EDITOR
    {% if show_help %}
    [Ctrl+3]
    {% endif %}
  </button>
  {{ bulk_editor|safe }}
  <button
      id="navigator-toggler"
      class="toggler"
      hx-put="/navigator/toggle"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
  >
    NAVIGATOR
    {% if show_help %}
    [Ctrl+4]
    {% endif %}
  </button>
  {{ navigator|safe }}
  <button
      id="settings-toggler"
      class="toggler"
      hx-put="/settings/toggle"
      hx-trigger="click"
      hx-target="#settings"
      hx-swap="outerHTML"
  >
    [⚙] SETTINGS
    {% if show_help %}
    [Ctrl+5]
    {% endif %}
  </button>
  {{ settings|safe }}
</div>
