<div
  id="command-palette"
  style="display: {{ 'inherit' if show_command_palette else 'none' }};"
>
  <button
    id="save-button"
    class="command"
    hx-post="/save"
    hx-trigger="click"
    hx-target="#null"
    hx-swap="outerHTML"
  >
    <span>
      ◼ SAVE
      {% if show_help %}
      [s]
      {% endif %}
    </span>
  </button>

  <button
    id="help-toggler"
    class="command"
    hx-put="/help/toggle"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
  >
    <span>
      ☛ HELP
      {% if show_help %}
      [1]
      {% endif %}
    </span>
  </button>
  <div
    id="help"
    class="section"
    style="display: {{ 'inherit' if show_help else 'none' }};"
  >
    Press Esc to remove focus on an element and use the key-bindings.
  </div>
  <button
    id="selector-toggler"
    class="command"
    hx-put="/selector/toggle"
    hx-trigger="click"
    hx-target="#selector"
    hx-swap="outerHTML"
  >
    <span>
      ✛ SELECT
      {% if show_help %}
      [2]
      {% endif %}
    </span>
  </button>
  {{ selector|safe }}
  <button
    id="editor-toggler"
    class="command"
    hx-put="/editor/toggle"
    hx-trigger="click"
    hx-target="#editor"
    hx-swap="outerHTML"
  >
    <span>
      ✎ EDIT
      {% if show_help %}
      [3]
      {% endif %}
    </span>
  </button>
  {{ editor|safe }}
  <button
    id="bulk-editor-toggler"
    class="command"
    hx-put="/bulk-editor/toggle"
    hx-trigger="click"
    hx-target="#bulk-editor"
    hx-swap="outerHTML"
  >
    <span>
      ⊂ BULK EDIT
      {% if show_help %}
      [4]
      {% endif %}
    </span>
  </button>
  {{ bulk_editor|safe }}
  <button
    id="viewer-toggler"
    class="command"
    hx-put="/viewer/toggle"
    hx-trigger="click"
    hx-target="#viewer"
    hx-swap="outerHTML"
  >
    <span>
      ❖ VIEW
      {% if show_help %}
      [5]
      {% endif %}
    </span>
  </button>
  {{ viewer|safe }}
</div>
