<div
  id="command-palette"
  style="display: {{ 'inherit' if show_command_palette else 'none' }};"
>
  <button
    id="save-button"
    class="command"
    hx-post="/save"
    hx-trigger="click"
    hx-target="#null"
    hx-swap="outerHTML"
  >
    <span>
      ◼ SAVE
      {% if show_help %}
      [Ctrl+S]
      {% endif %}
    </span>
  </button>

  <button
    id="help-toggler"
    class="command"
    hx-put="/help/toggle"
    hx-trigger="click"
    hx-target="#command-palette"
    hx-swap="outerHTML"
  >
    <span>
      ☛ HELP
      {% if show_help %}
      [Ctrl+0]
      {% endif %}
    </span>
  </button>
  <button
    id="selector-toggler"
    class="command"
    hx-put="/selector/toggle"
    hx-trigger="click"
    hx-target="#selector"
    hx-swap="outerHTML"
  >
    <span>
      ✛ SELECT
      {% if show_help %}
      [Ctrl+1]
      {% endif %}
    </span>
  </button>
  {{ selector|safe }}
  <button
    id="editor-toggler"
    class="command"
    hx-put="/editor/toggle"
    hx-trigger="click"
    hx-target="#editor"
    hx-swap="outerHTML"
  >
    <span>
      ✎ EDIT
      {% if show_help %}
      [Ctrl+2]
      {% endif %}
    </span>
  </button>
  {{ editor|safe }}
  <button
    id="bulk-editor-toggler"
    class="command"
    hx-put="/bulk-editor/toggle"
    hx-trigger="click"
    hx-target="#bulk-editor"
    hx-swap="outerHTML"
  >
    <span>
      ⊂ BULK EDIT
      {% if show_help %}
      [Ctrl+3]
      {% endif %}
    </span>
  </button>
  {{ bulk_editor|safe }}
  <button
    id="viewer-toggler"
    class="command"
    hx-put="/viewer/toggle"
    hx-trigger="click"
    hx-target="#viewer"
    hx-swap="outerHTML"
  >
    <span>
      ❖ VIEW
      {% if show_help %}
      [Ctrl+4]
      {% endif %}
    </span>
  </button>
  {{ viewer|safe }}
</div>
