<div
  id="editor"
  class="section"
  hx-put="/editor"
  hx-trigger="editor from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="display: {{ 'none' if not show_editor else 'inherit' }};"
>
  <h1 class="command-palette">EDITOR</h1>

  {% if show_help %}
  <p class="command-palette">
    Click on a cell or navigate around using Tab and Shift+Tab.
  </p>
  <p class="command-palette">
    By default, you can input basic values like boolean (True/False),
    integers, floats, and strings. You can also input markdown by
    starting the text with '!'. Write a formula in Python by starting
    the text with a '='.
  </p>
  <p class="command-palette">
    Within your formula, you can refer to a selection of other cells:
  </p>
  <ul class="command-palette">
    <li class="command-palette">single row: <code class="command-palette">&lt;R#r&gt;</code>,</li>
    <li class="command-palette">multiple rows: <code class="command-palette">&lt;R#rs:re&gt;</code>,</li>
    <li class="command-palette">single column: <code class="command-palette">&lt;C#c&gt;</code>,</li>
    <li class="command-palette">multiple columns: <code class="command-palette">&lt;C#cs:ce&gt;</code>,</li>
    <li class="command-palette">single cell: <code class="command-palette">&lt;R#r&gt;&lt;C#c&gt;</code>,</li>
    <li class="command-palette">box of cells: <code class="command-palette">&lt;R#rs:re&gt;&lt;C#cs:ce&gt;</code>,</li>
  </ul>
  <p class="command-palette">
    where
  </p>
  <ul class="command-palette" style="padding-bottom: 0.5rem;">
    <li class="command-palette"><code class="command-palette">r</code> = expression for index of row,</li>
    <li class="command-palette"><code class="command-palette">c</code> = expression for index of col,</li>
    <li class="command-palette"><code class="command-palette">rs</code> = expression for inclusive-start index of row range,</li>
    <li class="command-palette"><code class="command-palette">re</code> = expression for inclusive-end index of row range,</li>
    <li class="command-palette"><code class="command-palette">cs</code> = expression for inclusive-start index of column range,</li>
    <li class="command-palette"><code class="command-palette">ce</code> = expression for inclusive-end index of column range.</li>
  </ul>
  <p class="command-palette">
    Within your selection, you can refer to the index for:
  </p>
  <ul class="command-palette">
    <li class="command-palette">current cell's row: <code class="command-palette">&lt;ROW&gt;</code>,</li>
    <li class="command-palette">current cell's column: <code class="command-palette">&lt;COL&gt;</code>.</li>
  </ul>
  {% endif %}

  {% if editing %}
  {{ operations|safe }}

  <form
    hx-post="/cell/{{ row }}/{{ col }}/update"
    hx-target="#cell-{{ row }}-{{ col }}"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <textarea
      id="editor-contents"
      name="input-cell-{{ row }}-{{ col }}"
      rows=5,
      style="width: 100%;"
      >{{ data }}</textarea>
    <input
      id="editor-submit"
      type="submit"
      value="↵"
    />
  </form>
  {% endif %}
</div>
