<div
  id="editor"
  class="section"
  hx-put="/editor"
  hx-trigger="editor from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="display: {{ 'none' if not show_editor else 'inherit' }};"
>
  <!--
    When the editor is focused on or its contents submitted,
    1. the contents are stored in the sheet,
    2. the cell the editor is synced to is rerendered.

    No entities but the editor-toggler (Ctrl+1), focused cell, or port
    owns the rerendering of the editor.
    Since these entities can only be interacted with one at a time,
    we expect no races on the editor's rerendering.
  -->
  <h2>EDITOR</h2>

  {% if show_help %}
  <p>
    Ctrl+click on a cell or navigate around using
    Tab (right), Shift+Tab (left), Enter (down), Shift+Enter (up)
    to change the cell in focus.
  </p>
  <p>
    This editor allows you to view and manipulate the
    underlying value or formula of the currently focused cell.
    To express the value using a formula, type Python code
    within angle brackets.
  <p>
  </p>
    Refer to a selection of other cells:
      <code>ROWS(rs:re)</code>,
      <code>COLS(cs:ce)</code>,
      <code>BOX(rs:re,cs:ce)</code>,
    where
      <code>rs</code> = inclusive-start index of row range,
      <code>re</code> = exclusive-end index of row range,
      <code>cs</code> = inclusive-start index of column range,
      <code>ce</code> = exclusive-end index of column range.
  </p>
  <p>
    Cast the values within the selection:
      <code>INT(sel)</code>,
      <code>FLOAT(sel)</code>,
    where
      <code>sel</code> is the selection.
  </p>
  {% endif %}

  {% if editing %}
  <form
    hx-put="/cell/{{ row }}/{{ col }}/update"
    hx-target="#port"
    hx-swap="innerHTML"
    enctype="multipart/form-data"
  >
    <textarea
      id="editor-contents"
      name="input-cell-{{ row }}-{{ col }}"
      rows=5,
      style="width: 100%;"
      >{{ data }}</textarea>
    <input
      id="editor-submit"
      type="submit"
      value="↵"
    />
  </form>
  <script>
    document.querySelector("#editor-contents")
      .addEventListener("focusin", (event) => {
      const row = "{{ row }}";
      const col = "{{ col }}";
      const cell = document.getElementById("cell-${row}-${col}");
      htmx.ajax('PUT', `/cell/${row}/${col}/highlight/on`, {
        target: `#cell-${row}-${col}`,
        swap: "outerHTML",
      });
    });
    document.querySelector("#editor-contents")
      .addEventListener("focusout", (event) => {
      const row = "{{ row }}";
      const col = "{{ col }}";
      const cell = document.getElementById("cell-${row}-${col}");
      htmx.ajax('PUT', `/cell/${row}/${col}/highlight/off`, {
        target: `#cell-${row}-${col}`,
        swap: "outerHTML",
      });
    });
  </script>
  {% endif %}
</div>
