<div
  id="files"
  class="section"
  style="display: {{ 'none' if not show_files else 'inherit' }};"
>
  <h2>FILES</h2>

  <form
    id="files-import"
    hx-post="/files/import"
    hx-target="#port"
    hx-swap="innerHTML"
    enctype="multipart/form-data"
    >
    <fieldset>
      <legend>Import</legend>
      <label for="files-import-file" hidden>File</label>
      <input type="file" name="input" id="files-import-file" />
      <input type="submit" value="⬏" id="files-import-submit" />
    </fieldset>
  </form>

  <form
    id="files-export"
    hx-post="/files/export"
    hx-target="#null"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
    >
    <fieldset>
      <legend>Export</legend>
      <label for="files-export-filename" hidden>Filename</label>
      <input type="text" name="input" id="files-export-filename" />
      <input type="submit" value="⬎" id="files-export-submit" />
    </fieldset>
  </form>
</div>
