<div
  id="navigator"
  class="section"
  style="display: {{ 'none' if not show_navigator else 'inherit' }};"
>
  <h2>NAVIGATOR</h2>

  {% if show_help %}
  <div class="inner">
    Move one cell
    <div class="justify"><span>Left</span><span>[Shift+Tab]</span></div>
    <div class="justify"><span>Right</span><span>[Tab]</span></div>
    <div class="justify"><span>Up</span><span>[Shift+Enter]</span></div>
    <div class="justify"><span>Down</span><span>[Enter]</span></div>
  </div>
  {% endif %}

  <div class="inner">
    <span
      style="margin-right: 1rem;"
    >
      <button
        id="home-button"
        class="icon"
        hx-put="/navigator/move/home"
        hx-trigger="click"
        hx-target="#navigator"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>☗</span>
        {% if show_help %}
          <span>Go Home [Ctrl+H]</span>
        {% endif %}
      </button>
      {{ target|safe }}
    </span>

    <span>
      <button
        id="up-button"
        class="icon"
        hx-put="/navigator/move/up"
        hx-trigger="click"
        hx-target="#navigator"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▲</span>
        {% if show_help %}
          <span>[Shift+Up]</span>
        {% endif %}
      </button>

      <button
        id="down-button"
        class="icon"
        hx-put="/navigator/move/down"
        hx-trigger="click"
        hx-target="#navigator"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▼</span>
        {% if show_help %}
          <span>[Shift+Down]</span>
        {% endif %}
      </button>

      <button
        id="left-button"
        class="icon"
        hx-put="/navigator/move/left"
        hx-trigger="click"
        hx-target="#navigator"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>◀</span>
        {% if show_help %}
          <span>[Shift+Left]</span>
        {% endif %}
      </button>

      <button
        id="right-button"
        class="icon"
        hx-put="/navigator/move/right"
        hx-trigger="click"
        hx-target="#navigator"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▶</span>
        {% if show_help %}
          <span>[Shift+Right]</span>
        {% endif %}
      </button>
    </span>
  </div>

  <form
    id="navigator-dimensions"
    hx-put="/navigator/dimensions"
    hx-target="#port"
    hx-swap="innerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Dimensions</legend>

      <div class="inner" style="margin-bottom: 0;">
        <div class="inner">
          <label for="navigator-dimensions-rows">Rows</label>
          <input
            id="navigator-dimensions-rows-number"
            type="number"
            step=1
            value="{{ nrows }}"
            name="nrows"
            style="width: 50px;"
          >
        </div>

        <div class="inner">
          <label for="navigator-dimensions-rows">Columns</label>
          <input
            id="navigator-dimensions-cols-number"
            type="number"
            step=1
            value="{{ ncols }}"
            name="ncols"
            style="width: 50px;"
          >
        </div>

        <input type="submit" value="↵" id="navigator-dimensions-submit"/>
      </div>
    </fieldset>
  </form>
</div>
