<div
  id="port-viewer"
  class="section"
  style="display: {{ 'none' if not show_port_viewer else 'inherit' }};"
>
  <h1 class="command-palette">PORT VIEWER</h1>

  <div class="inner">
    <span
      style="margin-right: 1rem;"
    >
      <button
        id="home-button"
        class="icon"
        hx-put="/port-viewer/move/home"
        hx-trigger="click"
        hx-target="#port-viewer"
        hx-swap="outerHTML"
        title="go home"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>☗</span>
        {% if show_help %}
          <span>Go Home [Ctrl+H]</span>
        {% endif %}
      </button>
      {{ target|safe }}
    </span>

    <span>
      <button
        id="up-button"
        class="icon"
        hx-put="/port-viewer/move/up"
        hx-trigger="click"
        hx-target="#port-viewer"
        hx-swap="outerHTML"
        title="move up"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▲</span>
        {% if show_help %}
          <span>[Ctrl+I]</span>
        {% endif %}
      </button>

      <button
        id="down-button"
        class="icon"
        hx-put="/port-viewer/move/down"
        hx-trigger="click"
        hx-target="#port-viewer"
        hx-swap="outerHTML"
        title="move down"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▼</span>
        {% if show_help %}
          <span>[Ctrl+K]</span>
        {% endif %}
      </button>

      <button
        id="left-button"
        class="icon"
        hx-put="/port-viewer/move/left"
        hx-trigger="click"
        hx-target="#port-viewer"
        hx-swap="outerHTML"
        title="move left"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>◀</span>
        {% if show_help %}
          <span>[Ctrl+J]</span>
        {% endif %}
      </button>

      <button
        id="right-button"
        class="icon"
        hx-put="/port-viewer/move/right"
        hx-trigger="click"
        hx-target="#port-viewer"
        hx-swap="outerHTML"
        title="move right"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▶</span>
        {% if show_help %}
          <span>[Ctrl+L]</span>
        {% endif %}
      </button>
    </span>
  </div>

  <form
    id="port-viewer-dimensions"
    hx-put="/port-viewer/dimensions"
    hx-target="#port"
    hx-swap="innerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Dimensions</legend>

      <div class="inner" style="margin-bottom: 0;">
        <div class="inner">
          <label for="port-viewer-dimensions-rows">Rows</label>
          <input
            id="port-viewer-dimensions-rows-number"
            type="number"
            step=1
            value="{{ nrows }}"
            name="nrows"
            style="width: 50px;"
          >
        </div>

        <div class="inner">
          <label for="port-viewer-dimensions-rows">Columns</label>
          <input
            id="port-viewer-dimensions-cols-number"
            type="number"
            step=1
            value="{{ ncols }}"
            name="ncols"
            style="width: 50px;"
          >
        </div>

        <input type="submit" value="↵" id="port-viewer-dimensions-submit"/>
      </div>
    </fieldset>
  </form>
</div>
