<div
  id="selection"
  class="section"
  style="display: {{ 'inherit' if show_selection else 'none' }};"
>
  <h2>SELECTION</h2>

  {% if show_help %}
  <p>
    You can also click+drag to make a selection, which will appear here.
  </p>
  {% endif %}

  <form
    hx-post="/selection"
    hx-target="#selection"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Mode</legend>

      {% if show_help %}
      <p>
        Indices start from 0. Ranges are inclusive.
      </p>
      {% endif %}

      <label for="selection-mode" hidden>Mode</label>
      <select
        id="selection-mode"
        name="mode"
        hx-get="/selection/inputs"
        hx-target="#selection-inputs"
        hx-swap="outerHTML"
      >
        {% for mode_option in mode_options %}
        {% if mode_option == mode or (not mode and loop.index == 0) %}
        <option value="{{ mode_option }}" selected>{{ mode_option }}</option>
        {% else %}
        <option value="{{ mode_option }}">{{ mode_option }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ input|safe }}

    <div class="inner" style="display: flex;">
      <input
        type="submit"
        value="↵"
        id="selection-submit"
        style="margin: 0.25rem;"
      />
      <button
          id="selection-clear"
          class="icon justify"
          hx-delete="/selection"
          hx-trigger="click"
          hx-target="#selection"
          hx-swap="outerHTML"
          style="font-size: 0.8rem; margin: 0.25rem;"
          ><span>🗑</span></button>
    </div>

    {% if show_adjustments %}
    <div class="inner" style="margin-bottom: 0;">
      {% if show_row_adjustments %}
      <button
        id="up-selection-button"
        class="icon"
        hx-put="/selection/move/up"
        hx-trigger="click"
        hx-target="#selection"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▲</span>
        {% if show_help %}
          <span>Shrink up [Shift+Up]</span>
        {% endif %}
      </button>

      <button
        id="down-selection-button"
        class="icon"
        hx-put="/selection/move/down"
        hx-trigger="click"
        hx-target="#selection"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▼</span>
        {% if show_help %}
          <span>Expand down [Shift+Down]</span>
        {% endif %}
      </button>
      {% endif %}

      {% if show_col_adjustments %}
      <button
        id="left-selection-button"
        class="icon"
        hx-put="/selection/move/left"
        hx-trigger="click"
        hx-target="#selection"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>◀</span>
        {% if show_help %}
          <span>Shrink left [Shift+Left]</span>
        {% endif %}
      </button>

      <button
        id="right-selection-button"
        class="icon"
        hx-put="/selection/move/right"
        hx-trigger="click"
        hx-target="#selection"
        hx-swap="outerHTML"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▶</span>
        {% if show_help %}
          <span>Expand right [Shift+Right]</span>
        {% endif %}
      </button>
      {% endif %}
    </div>
    {% endif %}
  </form>
</div>
