<div
  id="selector"
  class="section"
  style="display: {{ 'inherit' if show_selector else 'none' }};"
>
  <h1 class="command-palette">SELECTOR</h1>

  {% if show_help %}
  <p class="command-palette">
    You can Shift+Click and drag within the grid to make a box selection, which will appear here.
    Additionally, you can Click on a row or column header to make a selection of rows or columns respectively.
  </p>
  {% endif %}

  <form
    hx-post="/selector"
    hx-target="#selector"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Mode</legend>

      {% if show_help %}
      <p class="command-palette">
        Indices start from 0. Ranges are inclusive.
      </p>
      {% endif %}

      <label for="selector-mode" hidden>Mode</label>
      <select
        id="selector-mode"
        name="mode"
        hx-get="/selector/input"
        hx-target="#selector"
        hx-swap="outerHTML"
      >
        {% for mode_option in mode_options %}
        {% if mode_option == mode or (not mode and loop.index == 0) %}
        <option value="{{ mode_option }}" selected>{{ mode_option }}</option>
        {% else %}
        <option value="{{ mode_option }}">{{ mode_option }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ input|safe }}

    <div class="inner" style="display: flex;">
      <input
        type="submit"
        value="↵"
        id="selector-submit"
        style="margin: 0.25rem;"
      />
      {% if show_clear %}
      <button
          id="clear-selector-button"
          class="icon justify"
          hx-delete="/selector"
          hx-trigger="click"
          hx-target="#selector"
          hx-swap="outerHTML"
          style="font-size: 0.8rem; margin: 0.25rem; width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
          title="clear selection"
      >
        <span>🗑</span>
        {% if show_help %}
          <span>Clear [Ctrl+Q]</span>
        {% endif %}
      </button>
      {% endif %}
    </div>

    {% if show_adjustments %}
    <div class="inner" style="margin-bottom: 0;">
      {% if show_row_adjustments %}
      <button
        id="up-selector-button"
        class="icon"
        hx-post="/selector/move/up"
        hx-trigger="click"
        hx-target="#selector"
        hx-swap="outerHTML"
        title="shrink selection up"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▲</span>
        {% if show_help %}
          <span>Shrink up</span>
        {% endif %}
      </button>

      <button
        id="down-selector-button"
        class="icon"
        hx-post="/selector/move/down"
        hx-trigger="click"
        hx-target="#selector"
        hx-swap="outerHTML"
        title="expand selection down"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▼</span>
        {% if show_help %}
          <span>Expand down</span>
        {% endif %}
      </button>
      {% endif %}

      {% if show_col_adjustments %}
      <button
        id="left-selector-button"
        class="icon"
        hx-post="/selector/move/left"
        hx-trigger="click"
        hx-target="#selector"
        hx-swap="outerHTML"
        title="shrink selection left"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>◀</span>
        {% if show_help %}
          <span>Shrink left</span>
        {% endif %}
      </button>

      <button
        id="right-selector-button"
        class="icon"
        hx-post="/selector/move/right"
        hx-trigger="click"
        hx-target="#selector"
        hx-swap="outerHTML"
        title="expand selection right"
        style="width: {{ 'auto' if show_help else '' }}; height: {{ 'auto' if show_help else '' }};"
      >
        <span>▶</span>
        {% if show_help %}
          <span>Expand right</span>
        {% endif %}
      </button>
      {% endif %}
    </div>
    {% endif %}
  </form>
</div>
