* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: 'dejavu';
  src: url('./DejaVuSans.ttf');
}

:root {
  --info-color: #0F0F0F;
  --info-background-color: #00B800;
  --error-color: #F0F0F0;
  --error-background-color: #8B0000;

  --markdown-background-color: #77FFFF;
  --selected-trial-color: #FF00FF;
  --selected-background-color: #FFFF00;
  --selected-color: #111111;
  --selected-pointer-color: #0000FF;
  --editing-background-color: #00FF00;
  --editing-color: #111111;
  --failure-background-color: #FF0000;

  --main-ff: dejavu;
  --code-ff: monospace;
  --md-ff: serif;
}

body {
  background-color: var(--background-color);
  margin: 0;

  font-family: var(--main-ff);
  font-size: 1rem;
}

div {
  width: 100%;
  margin-bottom: 1rem;

  border: 0.1rem solid var(--main-color);
  padding: 1rem;
}
div.wrapper {
  position: absolute;
  top: 7.5%;
  bottom: 0;
  z-index: 0;

  margin: 0;
  border: 0;
  padding: 0;

  color: var(--main-color); 
}
div.inner {
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  border: 0;
  padding: 0;
}
div.section {
  margin: 0;
  border: 0.1rem solid var(--main-color);
  padding: 1rem;
}
div.justify {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
div.selected-pointer {
  z-index: 1;

  position: absolute;
  bottom: -0.2rem;
  right: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;

  transform: rotate(45deg);
  background: var(--selected-pointer-color);

  margin: 0;
  border: 0;
  padding: 0;
}
div.grid {
  width: 100%;
  height: 100%;

  border: 1px solid var(--secondary-color);
  margin: 0;
  padding: 0;

  display: grid;
}
div.grid-item {
  /* let selected-bottomright pointer be position absolute to parent (this) */
  position: relative;

  /* indicate selection is the main action */
  cursor: crosshair;

  border: 1px solid var(--secondary-color);
  margin: 0;
  padding: 0.5rem;
}
div.grid-item:hover {
  border: 2px solid var(--main-color);
}
div.corner {
}
div.row {
  border-right: 1px solid var(--main-color);

  text-align: right;
}
div.col {
  border-bottom: 1px solid var(--main-color);

  text-align: center;
}
div.cell {
  text-align: center;

  /* contents fit perfectly in cell */
  padding: 0;
}

/* define following in order of precedence */
div.markdown {
  background-color: var(--markdown-background-color);
}
div.selected-current {
  background-color: var(--selected-background-color);
}
div.selected-next-row {
  border-bottom: 2px solid var(--selected-pointer-color);
}
div.selected-next-col {
  border-right: 2px solid var(--selected-pointer-color);
}
div.failure {
  background-color: var(--failure-background-color);
}
div.editing-current {
  background-color: var(--editing-background-color);
}
div#command-palette {
  float: left;
  width: 20%;
  height: 100%;

  margin: 0;
  border: 0;
  padding: 0;
}
div#port {
  float: left;
  height: 100%;

  margin: 0;
  border: 0;
  padding: 0;
}

form {

}
fieldset {
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
input {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);

  color: var(--main-color);
}
input[type='submit'] {
  display: inline;
  height: 25px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: var(--secondary-color);
}
input[type='submit']:focus {
  background-color: var(--secondary-color);
}
input[type='submit']:active {
  background-color: var(--main-color);
  color: var(--invert-color);
}
input[type=file]::file-selector-button {
  background-color: transparent;
  color: var(--main-color);
  font-family: var(--main-ff);
  border: 0.1rem solid var(--secondary-color);
  height: 100%;
}
textarea {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);

  color: var(--main-color);
  font-family: var(--code-ff);
}
textarea.cell {
  margin: 0;
  border: 0;
  padding: 0.25rem;

  height: 100%;
  resize: none;

  /* when not focused, use same cursor as parent */
  cursor: crosshair;
}
textarea.editing {
  color: var(--editing-color);
}
textarea.selected {
  color: var(--selected-color);
}
textarea.cell:focus {
  /* when focused, indicate editing */
  cursor: text;
}
select {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);

  font-family: var(--main-ff);
  color: var(--main-color);
}
option {
  width: 100%;
  background-color: var(--background-color);
  border: 0.1rem solid var(--secondary-color);

  font-family: var(--main-ff);
  color: var(--main-color);
}


button {
  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);

  font-family: var(--main-ff);
  color: var(--main-color);
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
button:hover {
  background-color: var(--secondary-color);
}
button:focus {
  background-color: var(--secondary-color);
}
button:active {
  background-color: var(--main-color);
  color: var(--invert-color);
}
button.icon {
  display: inline;
  height: 25px;
  width: 25px;
}
button.command {
  width: 100%;

  margin: 0;
  border: 1px solid var(--secondary-color);
  padding-left: 1rem;
  padding-right: 1rem;

  cursor: pointer;
  text-align: left;
}
button#command-palette-toggler {
  float: left;
  width: 2%;
  height: 100%;

  margin: 0;
  border: 1px solid var(--secondary-color);

  cursor: pointer;
}

h1.command-palette {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--main-color);
  font-family: var(--main-ff);
}
p.command-palette {
  margin: 0.5rem 0;
  color: var(--main-color);
  font-family: var(--main-ff);
}
code.command-palette {
  font-family: var(--code-ff);
  background-color: var(--main-color);
  color: var(--background-color);
}
ul.command-palette {
  margin: 0;
  border: 0;
  padding: 0 0.5rem;
  list-style-type: square;
  list-style-position: inside;
  color: var(--main-color);
  font-family: var(--main-ff);
}
li.command-palette {
  color: var(--main-color);
  font-family: var(--main-ff);
}

#notification-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7.5%;
  z-index: 2;

  margin: 0;
  border: 0;

  font-weight: bold;
  overflow: scroll;
}
#notification-banner.none {
  color: var(--background-color);
  background-color: var(--main-color);
}
#notification-banner.info {
  color: var(--info-color);
  background-color: var(--info-background-color);
}
#notification-banner.error {
  color: var(--error-color);
  background-color: var(--error-background-color);
}

/* Markdown rendering */
h1 {
  font-family: var(--md-ff);
}
h2 {
  font-family: var(--md-ff);
}
p {
  font-family: var(--md-ff);
}
code {
  font-family: var(--code-ff);
  font-size: 0.85rem;
}
ul {
  font-family: var(--md-ff);
}
ol {
  font-family: var(--md-ff);
}
li {
  font-family: var(--md-ff);
}
