<fieldset id="bulk-editor-selection">
  <legend>Selection</legend>
  {% if show_help %}
  <p>
    Indices start from 0. Ranges are start-inclusive, end-exclusive.
  </p>
  {% endif %}
  <div class="inner">
    <label for="bulk-editor-selection-mode">Mode</label>
    <select
      id="bulk-editor-selection-mode"
      name="selection-mode"
      hx-get="/bulk-editor/selection-inputs"
      hx-target="#bulk-editor-selection-query"
      hx-swap="outerHTML"
      style="width: auto;"
    >
      {% for selection_mode_option in selection_mode_options %}
      {% if selection_mode_option == selection_mode or (not selection_mode and loop.index == 0) %}
      <option value="{{ selection_mode_option }}" selected>{{ selection_mode_option }}</option>
      {% else %}
      <option value="{{ selection_mode_option }}">{{ selection_mode_option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  {{ selection_inputs|safe }}
</fieldset>
