{% if focused %}
<div 
  id="block-{{ block_id }}"
  class="block focused"
  hx-put="/entry/{{ entry_id }}/block/{{ block_id }}"
  hx-trigger="block-{{ block_id }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  >
  <div id="block-controls">
    <button
      id="render-block-button"
      class="icon"
      title="render block"
      hx-post="/entry/{{ entry_id }}/block/unfocus"
      hx-trigger="click"
      hx-target="#block-{{ block_id }}"
      hx-swap="outerHTML"
      >
      <span>◤</span>
    </button>
    <button
      id="prev-block-button"
      class="icon"
      title="previous block"
      hx-post="/entry/{{ entry_id }}/block/prev"
      hx-trigger="click"
      hx-target="#block-{{ block_id }}"
      hx-swap="outerHTML"
      >▲</button>
    <button
      id="next-block-button"
      class="icon"
      title="next block"
      hx-post="/entry/{{ entry_id }}/block/next"
      hx-trigger="click"
      hx-target="#block-{{ block_id }}"
      hx-swap="outerHTML"
      >▼</button>
    <button
      id="insert-block-button"
      class="icon"
      hx-put="/entry/{{ entry_id }}/block/insert"
      hx-trigger="click"
      hx-target="#block-{{ block_id }}"
      hx-swap="outerHTML"
      title="insert block"
      >
      <span>✚</span>
    </button>
    <button
      id="delete-block-button"
      class="icon"
      hx-put="/entry/{{ entry_id }}/block/delete"
      hx-trigger="click"
      hx-target="#block-{{ block_id }}"
      hx-swap="outerHTML"
      title="delete block"
      >
      <span>✖</span>
    </button>
  </div>
  <textarea
    id="block-editor"
    name="contents"
    hx-post="/entry/{{ entry_id }}/block/edit"
    hx-target="#null"
    hx-trigger="keyup changed delay:100ms"
    hx-swap="outerHTML"
    >{{ markdown }}</textarea>
</div>
{% else %}
<div
  id="block-{{ block_id }}"
  class="block"
  hx-put="/entry/{{ entry_id }}/block/{{ block_id }}"
  hx-trigger="block-{{ block_id }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="padding-top: 2rem; padding-left: 2rem;"
  >
  <button
    class="icon edit"
    hx-post="/entry/{{ entry_id }}/block/focus/{{ block_id }}"
    hx-trigger="click"
    hx-target="#block-{{ block_id }}"
    hx-swap="outerHTML"
    title="edit block"
    >
    <span>✎</span>
  </button>
  {{ markdown_html|safe }}
</div>
{% endif %}
