{% if focused %}
<div 
  id="block-{{ id }}"
  class="block focused"
  hx-put="/block/{{ id }}"
  hx-trigger="block-{{ id }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  >
  <div id="block-controls" class="block-controls">
    <button
      id="render-block-button"
      title="render block"
      hx-post="/block/unfocus"
      hx-trigger="click"
      hx-target="#block-{{id}}"
      hx-swap="outerHTML"
      >
      <span>◤</span>
    </button>
    <button
      id="prev-block-button"
      title="previous block"
      hx-post="/block/prev"
      hx-trigger="click"
      hx-target="#block-{{id}}"
      hx-swap="outerHTML"
      >▲</button>
    <button
      id="next-block-button"
      title="next block"
      hx-post="/block/next"
      hx-trigger="click"
      hx-target="#block-{{id}}"
      hx-swap="outerHTML"
      >▼</button>
    <button
      id="insert-block-button"
      hx-put="/block/{{id}}/insert"
      hx-trigger="click"
      hx-target="#block-{{ id }}"
      hx-swap="outerHTML"
      title="insert below"
      >
      <span>✚</span>
    </button>
    <button
      id="delete-block-button"
      hx-put="/block/{{id}}/delete"
      hx-trigger="click"
      hx-target="#block-{{ id }}"
      hx-swap="outerHTML"
      title="delete"
      >
      <span>✖</span>
    </button>
  </div>
  <textarea
    id="block-editor"
    name="contents"
    hx-post="/block/{{ id }}/edit"
    hx-target="#null"
    hx-trigger="keyup changed delay:100ms"
    hx-swap="outerHTML"
    >{{ markdown }}</textarea>
</div>
{% else %}
<div
  id="block-{{ id }}"
  class="block"
  hx-put="/block/{{ id }}"
  hx-trigger="block-{{ id }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="padding-top: 2rem; padding-left: 2rem;"
  >
  <button
    class="edit"
    hx-post="/block/{{ id }}/focus"
    hx-trigger="click"
    hx-target="#block-{{ id }}"
    hx-swap="outerHTML"
    title="edit"
    >
    <span>✎</span>
  </button>
  {{ markdown_html|safe }}
</div>
{% endif %}
