<body>
  {% if dark_mode %}
  <link rel="stylesheet" type="text/css" href="/static/dark_variables.css">
  {% else %}
  <link rel="stylesheet" type="text/css" href="/static/light_variables.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/static/style.css">

  {{ notification_banner|safe }}
  {{ command_palette|safe }}
  <!-- component for sending requests that should have no effect -->
  {{ null|safe }}
  <div
    id="wrapper"
    class="{{ 'contracted' if show_command_palette else 'expanded' }}"
    >
    <div id="title">
      <form
        id="title-form"
        hx-post="/save"
        hx-target="#null"
        hx-swap="outerHTML"
        enctype="multipart/form-data"
        >
        <label for="save-file" hidden>SAVE</label>
        <input
        id="title-name"
        type="text"
        name="name"
        value="{{ current_entry }}"
        id="save-entry"
        {{ 'readonly' if non_editable_title else '' }}
        />
        <input
        id="save"
        type="submit"
        value="◼"
        />
      </form>
    </div>
    {{ blocks|safe }}
  </div>
</body>
