{% if show %}
<div id="command-palette" class="open">
  <div class="command-palette-section">
    <label for="new-button">NEW</label>
    <button
      id="new-button"
      onclick="new_entry()"
    >
      ➕
      <script>
        async function new_entry() {
          window.open("/", "_self");
        }                                                                           
      </script>
    </button>
    <form
      hx-post="/open"
      hx-target="#null"
      hx-swap="outerHTML"
      enctype="multipart/form-data"
    >
      <label for="open-file">OPEN</label>
      <input type="text" name="name" value="{{ current_entry }}" id="open-entry" />
      <input type="submit" value="📂" id="open-submit" />
    </form>
    <form
      hx-post="/save"
      hx-target="#null"
      hx-swap="outerHTML"
      enctype="multipart/form-data"
    >
      <label for="save-file">SAVE</label>
      <input type="text" name="name" value="{{ current_entry }}" id="save-entry" />
      <input type="submit" value="💾" id="save-submit" />
    </form>
  </div>
  <div class="command-palette-section">
    <form
      hx-post="/import"
      hx-target="#blocks"
      hx-swap="outerHTML"
      enctype="multipart/form-data"
    >
      <label for="import-file">IMPORT</label>
      <input type="file" name="input" id="import-file" />
      <input type="submit" value="⬏" id="import-submit" />
    </form>
    <form
      hx-post="/export"
      hx-target="#null"
      hx-swap="outerHTML"
      enctype="multipart/form-data"
    >
      <label for="export-filename">EXPORT</label>
      <input type="text" name="input" id="export-filename" />
      <input type="submit" value="⬎" id="export-submit" />
    </form>
  </div>

  <div class="command-palette-section">
    <p class="help">Prev block: [Ctrl+Up]</p>
    <p class="help">Next block: [Ctrl+Down]</p>
  </div>
  <div
    class="command-palette-section"
    style="display: flex; align-items: center;"
  >
    {{ mode_button|safe }}
    <button
      id="collapse-button"
      hx-put="/command-palette/close"
      hx-trigger="click"
      hx-target="body"
      hx-swap="outerHTML"
      style="font-size: 1.25rem; height: 2rem; width: 2rem;"
    >
      <span>⇱</span>
    </button>
  </div>
</div>
{% else %}
<div id="command-palette" class="close">
  <button
    id="expand-button"
    hx-put="/command-palette/open"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
    style="font-size: 1.25rem; height: 2rem; width: 2rem;"
  >
    <span>⇲</span>
  </button>
</div>
{% endif %}
