{% if show %}
<div id="command-palette" class="open">
  {% if show_io %}
  <fieldset>
    <legend>INPUT/OUTPUT</legend>
    <div 
      id="command-palette-io"
      class="command-palette-section"
      >
      <button
        title="new entry"
        hx-post="/new"
        hx-trigger="click"
        hx-target="#null"
        hx-swap="outerHTML"
        >➕</button>
      <button
        title="open entry"
        hx-put="/command-palette/io/open"
        hx-trigger="click"
        hx-target="#command-palette-io-form"
        hx-swap="outerHTML"
        >📂</button>
      <button
        title="import from markdown"
        hx-put="/command-palette/io/import"
        hx-trigger="click"
        hx-target="#command-palette-io-form"
        hx-swap="outerHTML"
        style="font-size: 1.25rem;"
        >⬏</button>
      <button
        title="export to html"
        hx-put="/command-palette/io/export"
        hx-trigger="click"
        hx-target="#command-palette-io-form"
        hx-swap="outerHTML"
        style="font-size: 1.25rem;"
        >⬎</button>
    </div>

      <form id="command-palette-io-form" style="display: none;"></form>
  </fieldset>
  {% endif %}

  <div
    id="command-palette-key-maps"
    class="command-palette-section"
    style="padding: 0.5rem; display: block;"
    >
    <p class="help">Render block: [Escape]</p>
    <p class="help">Prev block: [Shift+Up]</p>
    <p class="help">Next block: [Shift+Down]</p>
  </div>

  <button
    id="command-palette-toggle-button"
    hx-put="/command-palette/close"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
    style="bottom: 0; right: 0;"
    >
    <span>⇱</span>
  </button>
</div>
{% else %}
<div id="command-palette" class="close">
  <button
    id="command-palette-toggle-button"
    hx-put="/command-palette/open"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
    style="top: 0; left: 0;"
    >
    <span>⇲</span>
  </button>
</div>
{% endif %}
