{% if show %}
<div id="command-palette" class="open">
  <div
    id="command-palette-key-maps"
    class="command-palette-section"
    style="padding: 0.5rem; display: block;"
    >
    <p class="help">Save: [s]</p>
    <p class="help">Render block: [Escape]</p>
    <p class="help">Insert block: [Insert]</p>
    <p class="help">Delete block: [Delete]</p>
    <!--
    <p class="help">Prev block: [Shift+Up]</p>
    <p class="help">Next block: [Shift+Down]</p>
    -->
  </div>

  <button
    id="command-palette-toggle-button"
    hx-put="/command-palette/close"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
    style="bottom: 0; right: 0;"
    >
    <span>⇱</span>
  </button>
</div>
{% else %}
<div id="command-palette" class="close">
  <button
    id="command-palette-toggle-button"
    hx-put="/command-palette/open"
    hx-trigger="click"
    hx-target="body"
    hx-swap="outerHTML"
    style="top: 0; left: 0;"
    >
    <span>⇲</span>
  </button>
</div>
{% endif %}
