<div id="title">
  <form
    id="title-form"
    hx-post="/save"
    hx-target="#null"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
    >
    <label for="save-file" hidden>SAVE</label>
    <input
    id="title-name"
    type="text"
    name="name"
    value="{{ name }}"
    id="save-entry"
    readonly
    />
    <input
    id="save"
    type="submit"
    hx-put="/title/{{ 'false' if show_saved else 'true' }}"
    hx-trigger="{{ 'load delay:2s' if show_saved else 'click' }}"
    hx-target="#title"
    hx-swap="outerHTML"
    value="{{ '✓' if show_saved else '◼' }}"
    />
  </form>
</div>
