{{notification_banner|safe }}
<button
    id="help-toggler"
    hx-put="/help"
    hx-trigger="click"
    hx-target="body"
    hx-swap="innerHTML"
    style="display: none"
>
</button>
<button
    id="editor-toggler"
    hx-put="/editor"
    hx-trigger="click"
    hx-target="#editor"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="bulk-editor-toggler"
    hx-put="/bulk-editor"
    hx-trigger="click"
    hx-target="#bulk-editor"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="navigator-toggler"
    hx-put="/navigator"
    hx-trigger="click"
    hx-target="#navigator"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="settings-toggler"
    hx-put="/settings"
    hx-trigger="click"
    hx-target="#settings"
    hx-swap="outerHTML"
    style="display: none"
>
</button>

<div class="wrapper">
  <div class="left">
    <div class="inner">
      <div class="justify"><span>Editor</span><span>[Ctrl+1]</span></div>
      <div class="justify"><span>Bulk-Editor</span><span>[Ctrl+2]</span></div>
      <div class="justify"><span>Navigator</span><span>[Ctrl+3]</span></div>
      <div class="justify"><span>[⚙] Settings</span><span>[Ctrl+4]</span></div>
      <div class="justify"><span>[?] Help</span><span>[Ctrl+0]</span></div>
    </div>
    {{ editor|safe }}
    {{ bulk_editor|safe }}
    {{ navigator|safe }}
    {{ settings|safe }}
  </div>
    <div class="right">
    <div
      id="port"
      class="inner"
      hx-put="/port"
      hx-trigger="update-port from:body"
      hx-target="this"
      hx-swap="innerHTML"
    >
      {{ data|safe }}
    </div>
  </div>
</div>
