{{notification_banner|safe }}
<button
    id="help-toggler"
    hx-put="/help"
    hx-trigger="click"
    hx-target="body"
    hx-swap="innerHTML"
    style="display: none"
>
</button>
<button
    id="editor-toggler"
    hx-put="/editor"
    hx-trigger="click"
    hx-target="#editor"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="bulk-edit-toggler"
    hx-put="/bulk-edit"
    hx-trigger="click"
    hx-target="#bulk-edit-controls"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="navigator-toggler"
    hx-put="/navigator"
    hx-trigger="click"
    hx-target="#navigator"
    hx-swap="outerHTML"
    style="display: none"
>
</button>
<button
    id="settings-toggler"
    hx-put="/settings"
    hx-trigger="click"
    hx-target="#settings"
    hx-swap="outerHTML"
    style="display: none"
>
</button>

<div class="wrapper">
  <div
    id="port"
    hx-put="/port"
    hx-trigger="update-port from:body"
    hx-target="this"
    hx-swap="innerHTML"
  >
    {{ data|safe }}
  </div>
  <p>
    Editor [Ctrl+1]
    | Bulk-Edit [Ctrl+2]
    | Navigator [Ctrl+3]
    | [⚙] Settings [Ctrl+4]
    | [?] Help [Ctrl+0]
  </p>
  {{ editor|safe }}
  {{ bulk_edit_controls|safe }}
  {{ view_controls|safe }}
  {{ navigator|safe }}
  {{ settings|safe }}
</div>
