{% if show_bulk_editor %}
<div id="bulk-editor-controls">
  <h2>BULK EDITOR</h2>

  <form
    hx-post="/bulk-editor"
    hx-target="#bulk-editor-controls"
    hx-swap="outerHTML"
    enctype="multipart/form-data"
  >
    <fieldset>
      <legend>Operation</legend>
      <select
        id="bulk-editor-operation"
        name="operation"
        hx-get="/bulk-editor/operation-form"
        hx-target="#bulk-editor-operation-form"
        hx-swap="outerHTML"
        style="width: auto;"
      >
        {% for operation_option in operation_options %}
        {% if operation_option == operation or (not operation and loop.index == 0) %}
        <option value="{{ operation_option }}" selected>{{ operation_option }}</option>
        {% else %}
        <option value="{{ operation_option }}">{{ operation_option }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </fieldset>

    {{ operation_form|safe }}

    <input type="submit" value="↵" id="bulk-editor-submit"/>
  </form>
</div>
{% else %}
 <div id="bulk-editor-controls" style="display: none;"></div>
{% endif %}
