<div id="navigator" style="display: {{ 'none' if not show_navigator else 'inherit' }};">
  <h2>NAVIGATOR</h2>

  {% if show_help %}
  <div class="inner">
    Move one cell
    <div class="justify"><span>Left</span><span>[Shift+Tab]</span></div>
    <div class="justify"><span>Right</span><span>[Tab]</span></div>
    <div class="justify"><span>Up</span><span>[Shift+Enter]</span></div>
    <div class="justify"><span>Down</span><span>[Enter]</span></div>
  </div>
  {% endif %}

  <div class="inner">
    <button
      id="home-button"
      class="icon"
      hx-put="/navigator/move/home"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
    >
      🏠
      {% if show_help %}
        <span>[Ctrl+h]</span>
      {% endif %}
    </button>

    <button
      id="up-button"
      class="icon"
      hx-put="/navigator/move/up"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
    >
      ⮝
      {% if show_help %}
        <span>[Ctrl+Up]</span>
      {% endif %}
    </button>

    <button
      id="down-button"
      class="icon"
      hx-put="/navigator/move/down"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
    >
      ⮟
      {% if show_help %}
        <span>[Ctrl+Down]</span>
      {% endif %}
    </button>

    <button
      id="left-button"
      class="icon"
      hx-put="/navigator/move/left"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
    >
      ⮜
      {% if show_help %}
        <span>[Ctrl+Left]</span>
      {% endif %}
    </button>

    <button
      id="right-button"
      class="icon"
      hx-put="/navigator/move/right"
      hx-trigger="click"
      hx-target="#navigator"
      hx-swap="outerHTML"
    >
      ⮞
      {% if show_help %}
        <span>[Ctrl+Right]</span>
      {% endif %}
    </button>
  </div>

  {{ target|safe }}
</div>
