<div id="settings" style="display: {{ 'none' if not show_settings else 'inherit' }};">
  <h2>[⚙] SETTINGS</h2>

  <script>
    // I could not make htmx update just a css link full of variables.
    // I'm using JavaScript to handle this instead.
    async function change_render_mode(render_mode) {
      const resp = await fetch(`/static/${render_mode}_variables.json`);
      const json = await resp.json();
      const style = document.documentElement.style;
      Object.entries(json).forEach(([key, value]) => {
        style.setProperty(key, value);
      });
      htmx.ajax('PUT', `/settings/render-mode/${render_mode}`, '#none');
    }
  </script>
  <div id="none" style="display: none"></div>

  <div class="inner">
    <label for="render-mode">Render Mode</label>
    <select
        id="render-mode"
        value="{{ render_mode }}"
        onchange="change_render_mode(this.value)"
        style="width: auto;"
    >
      <option value="light" {{ "selected" if render_mode == "light" }}>Light Mode</option>
      <option value="dark" {{ "selected" if render_mode == "dark" }}>Dark Mode</option>
    </select>
  </div>
</div>
