<fieldset id="bulk-editor-operation-form">
  <legend>Input</legend>

  {% if show_help %}
  <p class="command-palette">
    If you want to bulk-edit the formulas of the cells in the selection,
    refer to 'EDITOR' to see detailed help.
  </p>
  {% endif %}

  <div class="inner">
    {{ use_sel|safe }}
  </div>
  <div class="inner">
    <label for="bulk-editor-value">Value</label>
    <textarea
      id="value-contents"
      name="value"
      rows=5,
      style="width: 100%;"
      ></textarea>
  </div>
</fieldset>
