<!doctype html>
<html>
  <head>
    <title>mini-suite</title>
    <meta name="description" content="mini-suite">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/helpers.js"></script>
    <script src="/static/key_bindings.js"></script>
    <script src="/static/cell.js"></script>
    <script src="/static/editor.js"></script>
    <script src="/static/selection.js"></script>
  </head>

  {{ body|safe }}
</html>
