<fieldset id="selector-input">
  <legend>Input</legend>

  {% if show_help %}
  <p class="command-palette">
    If a constraint is left blank, it will default to the corresponding
    bound of the sheet.
  </p>
  {% endif %}

  <div class="inner">
    Rows

    <label for="selector-row-start" hidden>Row Start</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selector-row-start"
      name="row-start"
      value="{{ row_start }}"
      style="width: 50px;"
    >

    <label for="selector-row-end" hidden>Row End</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selector-row-end"
      name="row-end"
      value="{{ row_end }}"
      style="width: 50px;"
    >
  </div>

  <div class="inner">
    Columns

    <label for="selector-col-start" hidden>Column Start</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selector-col-start"
      name="col-start"
      value="{{ col_start }}"
      style="width: 50px;"
    >

    <label for="selector-col-end" hidden>Column End</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selector-col-end"
      name="col-end"
      value="{{ col_end }}"
      style="width: 50px;"
    >
  </div>
</fieldset>
