<td
  id="cell-{{ row }}-{{ col }}"
  class="{{ ' '.join(renders) }}"
  hx-put="/cell/{{ row }}/{{ col }}"
  hx-trigger="cell-{{ row }}-{{ col }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  style="width: 100%;"
>
  <div
    id="cell-{{ row }}-{{ col }}-pointer"
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  <label for="input-cell-{{ row }}-{{ col }}" hidden></label>
  <textarea
    type="text"
    class="cell {{ input_render }}"
    hx-put="/cell/{{ row }}/{{ col }}/sync"
    hx-target="#editor"
    hx-trigger="keyup changed"
    hx-swap="outerHTML"
    id="input-cell-{{ row }}-{{ col }}"
    name="input-cell-{{ row }}-{{ col }}"
    style="width: 100%; height: 100%;"
    >{{ data }}</textarea>
  <script>
    document.querySelector(
      `#cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mousedown", (event) => {
      if (!event.ctrlKey) {
        // prevent focus into input
        event.preventDefault();

        const row = "{{ row }}";
        const col = "{{ col }}";

        begin_selection(row, col);
      }
    });
    document.querySelector(
      `#cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mousemove", (event) => {
      if (!event.ctrlKey) {
        const row = "{{ row }}";
        const col = "{{ col }}";

        request_change_selection(row, col);
      }
    })
    document.querySelector(
      `#cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mouseup", (event) => {
      if (!event.ctrlKey) {
        const row = "{{ row }}";
        const col = "{{ col }}";

        finalize_selection(row, col);
      }
    });

    document.querySelector(
      `#input-cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("focusin", (event) => {
      // requires ctrl+key if also clicking to bypass selection mode

      const row = "{{ row }}";
      const col = "{{ col }}";

      request_change_focus(row, col);
    });
  </script>
</td>
