<div
  id="header-col-{{ index }}"
  class="grid-item col {{ ' '.join(renders) }}"
>
  <div
    id="header-col-{{ index }}-pointer"
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  {{ data|safe }}
  <script>
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousedown", (event) => {
      const row = "-1";
      const col = "{{ index }}";

      begin_selection(row, col);
    });
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousemove", (event) => {
      const row = "-1";
      const col = "{{ index }}";

      request_change_selection(row, col);
    })
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mouseup", (event) => {
      const row = "-1";
      const col = "{{ index }}";

      finalize_selection(row, col);
    });
  </script>
</div>
