<div
  id="header-row-{{ index }}"
  class="grid-item row {{ ' '.join(renders) }}"
>
  <div
    id="header-row-{{ index }}-pointer"
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  {{ data|safe }}
  <script>
    document.querySelector(
      `#header-row-${ {{ index }} }`
    ).addEventListener("mousedown", (event) => {
      if (event.shiftKey) {
        const row = "{{ index }}";
        const col = "-1";

        // ensure that browser does not focus on current element
        event.preventDefault();

        begin_selection(row, col);
      }
    });
    document.querySelector(
      `#header-row-${ {{ index }} }`
    ).addEventListener("mousemove", (event) => {
      if (event.shiftKey) {
        const row = "{{ index }}";
        const col = "-1";

        request_change_selection(row, col);
      }
    })
    document.querySelector(
      `#header-row-${ {{ index }} }`
    ).addEventListener("mouseup", (event) => {
      if (event.shiftKey) {
        const row = "{{ index }}";
        const col = "-1";

        finalize_selection(row, col);
      }
    });
  </script>
</div>
