<!doctype html>
<html>
  <head>
    <title>mini-suite</title>
    <meta name="description" content="mini-suite">
    {% if dark_mode %}
    <link rel="stylesheet" type="text/css" href="/static/dark_variables.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/light_variables.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/key_bindings.js"></script>
  </head>
  <body>
    {{ notification_banner|safe }}
    <!-- component for sending requests that should have no effect -->
    {{ null|safe }}
    <div class="wrapper">
      {{ command_palette|safe }}
      {{ blocks|safe }}
    </div>
  </body>
</html>
