<!doctype html>
<html>
  <head>
    <title>{{ tab_name }}</title>
    <meta name="description" content="mini-suite">
    <!-- Prevent request to non-existent favicon.ico. -->
    <link rel="icon" href="data:,">
    <script src="/static/htmx.min.js"></script>
    <script src="/static/key_bindings.js"></script>
    {% if dark_mode %}
    <link rel="stylesheet" type="text/css" href="/static/dark_variables.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/light_variables.css">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  {{ body|safe }}
</html>
