<fieldset id="selection-inputs">
  <legend>Input</legend>

  {% if show_help %}
  <p>
    If a constraint is left blank, it will default to the corresponding
    bound of the sheet.
  </p>
  {% endif %}

  <div class="inner">
    Rows

    <label for="selection-row-start" hidden>Row Start</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selection-row-start"
      name="row-start"
      style="width: 50px;"
    >

    <label for="selection-row-end" hidden>Row End</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selection-row-end"
      name="row-end"
      style="width: 50px;"
    >
  </div>

  <div class="inner">
    Columns

    <label for="selection-col-start" hidden>Column Start</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selection-col-start"
      name="col-start"
      style="width: 50px;"
    >

    <label for="selection-col-end" hidden>Column End</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="selection-col-end"
      name="col-end"
      style="width: 50px;"
    >
  </div>
</fieldset>
