:root {
  --background-color: #0F0F0F;
  --main-color: #EEEEEE;
  --invert-color: #0F0F0F;
  --secondary-color: #383838;
  --shade-color: #272727;
  --link-color: #00FFFF;

  --main-ff: monospace;
  --display-ff: serif;

  --info-color: #0F0F0F;
  --info-background-color: #00B800;
  --error-color: #F0F0F0;
  --error-background-color: #8B0000;
}
