@font-face {
  font-family: 'dejavu';
  src: url('./DejaVuSans.ttf');
}

:root {
  --main-ff: dejavu;
  --display-ff: serif;

  --info-color: #0F0F0F;
  --info-background-color: #00B800;
}

body {
  background-color: var(--background-color);
  margin: 0;

  font-family: var(--main-ff);
  font-size: 1rem;
}

div {
  width: 100%;

  border: 0.1rem solid var(--secondary-color);
  padding: 1rem;
}
div#wrapper {
  position: absolute;
  height: 100%;
  width: 800px;
  left: 50%;
  transform: translate(-50%, 0%);

  margin: 0;
  border: 0;
  padding: 0;
}
div#footer {
  height: 7.5%;

  margin: 0;
  border: 0;
  padding: 0;
}
div#blocks {
  position: relative;
  width: 100%;

  margin: 0;
  border: 0;
  padding: 1rem;

  color: var(--main-color); 
}
div#block-controls {
  margin-bottom: 0.5rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  border: 0;
  padding: 0;

  display: flex;
  align-items: center;

  font-family: var(--main-ff);
}
div#banner {
  position: fixed;
  bottom: 0;
  width: 100%;

  margin: 0;
  border: 0;

  text-align: center;
  font-weight: bold;
}
div#banner.none {
  color: var(--background-color);
  background-color: var(--main-color);
}
div#banner.saved {
  color: var(--info-color);
  background-color: var(--info-background-color);
}
div.block {
  /* Let edit button be absolute relative to this. */
  position: relative;
  min-height: 2rem;

  margin-bottom: 0.5rem;

  font-family: var(--display-ff);
}
div.focused {
  border: 0.15rem solid var(--main-color);
  cursor: auto;
}
button {
  background-color: var(--invert-color);
  margin: 0.25rem;
  border: 0.1rem solid var(--secondary-color);

  font-family: var(--main-ff);
  color: var(--main-color);

  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--secondary-color);
}
button:focus {
  background-color: var(--secondary-color);
}
button:active {
  background-color: var(--main-color);
  color: var(--invert-color);
}
button.edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;

  margin: 0;

  font-size: 1.5rem;
}
textarea {
  width: 100%;
  height: 30vh;

  background-color: transparent;
  border: 0.1rem solid var(--secondary-color);
  color: var(--main-color);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
}
h2 {
  font-size: inherit;
  background-color: var(--main-color);
  color: var(--invert-color);
  font-weight: bold;
}
h3 {
  font-size: inherit;
  color: var(--main-color);
  font-weight: bold;
}
p {
  color: var(--main-color);
}
a {
  color: var(--link-color);
  font-weight: bold;
}
code {
  font-family: monospace;
  /* make it comparable in size to body font */
  font-size: 0.85rem;
  background-color: var(--main-color);
  color: var(--background-color);
}
table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border: 0.05rem solid var(--secondary-color);
  margin: 0;
}
tr:nth-child(even) {
  background-color: var(--shade-color);
}
th {
  border: 0.05rem solid var(--secondary-color);
  padding: 0.25rem;
}
td {
  padding: 0;
  border: 0.05rem solid var(--secondary-color);
  word-wrap: break-word;
  word-break: break-word;
}
q {
  color: var(--main-color);
}
blockquote {
  color: var(--main-color);
  border-left: 0.1rem solid var(--main-color);
  padding-left: 1rem;
}
img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
