<span id="bulk-edit-selection-query">
  <span class="group">
    Rows
    <label for="bulk-edit-selection-sr" hidden>Start-Row</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="bulk-edit-selection-sr"
      name="selection-sr"
      style="width: 50px;"
    >
    :
    <label for="bulk-edit-selection-er" hidden>End-Row</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="bulk-edit-selection-er"
      name="selection-er"
      style="width: 50px;"
    >
  </span>
  <span class="group">
    Columns
    <label for="bulk-edit-selection-sc" hidden>Start-Column</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="bulk-edit-selection-sc"
      name="selection-sc"
      style="width: 50px;"
    >
    :
    <label for="bulk-edit-selection-ec" hidden>End-Column</label>
    <input
      type="number"
      pattern="[0-9]*"
      id="bulk-edit-selection-ec"
      name="selection-ec"
      style="width: 50px;"
    >
  </span>
</span>
