<div class="inner" id="bulk-edit-selection-query">
  {% if show_help %}
  <p>
    If a constraint is left blank, it will default to the corresponding
    bound of the sheet.
  </p>
  {% endif %}
  <label for="bulk-edit-selection-start" hidden>Start</label>
  <input
    type="number"
    pattern="[0-9]*"
    id="bulk-edit-selection-start"
    name="selection-start"
    style="width: 50px;"
  >
  :
  <label for="bulk-edit-selection-end" hidden>End</label>
  <input
    type="number"
    pattern="[0-9]*"
    id="bulk-edit-selection-end"
    name="selection-end"
    style="width: 50px;"
  >
</div>
