<div class="inner" id="bulk-edit-selection-query">
  {% if show_help %}
  <p>
    If a constraint is left blank, it will default to the corresponding
    bound of the sheet.
  </p>
  {% endif %}

  <label for="bulk-edit-selection-row-start">Start</label>
  <input
    type="number"
    pattern="[0-9]*"
    id="bulk-edit-selection-row-start"
    name="selection-row-start"
    style="width: 50px;"
  >

  <label for="bulk-edit-selection-row-end">End</label>
  <input
    type="number"
    pattern="[0-9]*"
    id="bulk-edit-selection-row-end"
    name="selection-row-end"
    style="width: 50px;"
  >
</div>
