<td
  id="cell-{{ row }}-{{ col }}"
  class="{{ ' '.join(renders) }}"
  style="width: 100%;"
>
  <!--
    When a cell is focused on or edited,
    its contents are:
    1. stored in the sheet,
    2. synced to the editor.

    The editor, bulk-editor, settings, and navigator all may
    rerender the cell.
    Because these entities can only be interacted with one at a time,
    we expect no races on the cell's rerendering.
  -->
  <div
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  <label for="input-cell-{{ row }}-{{ col }}" hidden></label>
  <input
    type="text"
    class="cell"
    hx-put="/cell/{{ row }}/{{ col }}/edit"
    hx-target="#editor"
    hx-trigger="keyup changed"
    hx-swap="outerHTML"
    id="input-cell-{{ row }}-{{ col }}"
    name="input-cell-{{ row }}-{{ col }}"
    value="{{ data }}"
    style="width: 100%;"
  >
  <script>
    // Make variable use `var` instead of `const`.
    // Upon rerenders, will redefine value.
    var cellInputElement = document.querySelector(
      `#input-cell-${ {{ row }} }-${ {{ col }} }`
    );

    cellInputElement.addEventListener("focusin", (event) => {
      const row = "{{ row }}";
      const col = "{{ col }}";

      htmx.ajax('PUT', `/cell/${row}/${col}/edit`, {
        target: `#editor`,
        swap: "outerHTML",
      });
    });
  </script>
</td>
