<td
  id="cell-{{ row }}-{{ col }}"
  class="{{ ' '.join(renders) }}"
  style="width: 100%;"
>
  <!--
    When a cell is focused on or edited,
    its contents are:
    1. stored in the sheet,
    2. synced to the editor.

    The editor, bulk-editor, settings, and navigator all may
    rerender the cell.
    Because these entities can only be interacted with one at a time,
    we expect no races on the cell's rerendering.
  -->
  <div
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  <label for="input-cell-{{ row }}-{{ col }}" hidden></label>
  <input
    type="text"
    class="cell"
    hx-put="/cell/{{ row }}/{{ col }}/edit"
    hx-target="#editor"
    hx-trigger="keyup changed"
    hx-swap="outerHTML"
    id="input-cell-{{ row }}-{{ col }}"
    name="input-cell-{{ row }}-{{ col }}"
    value="{{ data }}"
    style="width: 100%;"
  >
  <script>
    document.querySelector(
      `#cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mousedown", (event) => {
      // Don't allow focus into input with just a mousedown.
      //event.preventDefault();

      const row = "{{ row }}";
      const col = "{{ col }}";

      localStorage.setItem("selection-start-row", row);
      localStorage.setItem("selection-start-col", col);
    });
    document.querySelector(
      `#cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mouseup", (event) => {
      const start_row = localStorage.getItem("selection-start-row");
      const start_col = localStorage.getItem("selection-start-col");
      const end_row = "{{ row }}";
      const end_col = "{{ col }}";

      htmx.ajax(
        'PUT',
        `/selection/start/${start_row}/${start_col}/end/${end_row}/${end_col}`,
        {
          target: "#selection",
          swap: "outerHTML",
        }
      );
    });

    // Focus on input only when double-clicking.
    document.querySelector(
      `#input-cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("mousedown", (event) => {
      event.preventDefault();
    });
    document.querySelector(
      `#input-cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("dblclick", (event) => {
      document.querySelector(
        `#input-cell-${ {{ row }} }-${ {{ col }} }`
      ).focus();
    });
    document.querySelector(
      `#input-cell-${ {{ row }} }-${ {{ col }} }`
    ).addEventListener("focusin", (event) => {
      const row = "{{ row }}";
      const col = "{{ col }}";

      htmx.ajax('PUT', `/cell/${row}/${col}/edit`, {
        target: `#editor`,
        swap: "outerHTML",
      });
    });
  </script>
</td>
