<th
  id="header-col-{{ index }}"
  class="col {{ ' '.join(renders) }}"
>
  <div
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  {{ data|safe }}
  <script>
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousedown", (event) => {
      const row = "-1";
      const col = "{{ index }}";

      localStorage.setItem("selection-start-row", row);
      localStorage.setItem("selection-start-col", col);
    });
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousemove", (event) => {
      const start_row = localStorage.getItem("selection-start-row");
      const start_col = localStorage.getItem("selection-start-col");
      const end_row = "-1";
      const end_col = "{{ index }}";

      if (start_row && start_col) {
        drawBorder(start_row, start_col, end_row, end_col);
      }
    })
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mouseup", (event) => {
      const start_row = localStorage.getItem("selection-start-row");
      const start_col = localStorage.getItem("selection-start-col");
      const end_row = "-1";
      const end_col = "{{ index }}";

      htmx.ajax(
        'PUT',
        `/selection/start/${start_row}/${start_col}/end/${end_row}/${end_col}`,
        {
          target: "#selection",
          swap: "outerHTML",
        }
      );

      localStorage.removeItem("selection-start-row")
      localStorage.removeItem("selection-start-col")
    });
  </script>
</th>
