<th
  id="header-col-{{ index }}"
  class="col {{ ' '.join(renders) }}"
>
  <div
    class="selected-pointer"
    style="display: {{ 'inherit' if 'selected-bottomright' in renders else 'none' }};">
  </div>
  {{ data|safe }}
  <script>
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousedown", (event) => {
      const row = "-1";
      const col = "{{ index }}";

      set_selection_start(row, col);
    });
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mousemove", (event) => {
      const row = "-1";
      const col = "{{ index }}";
      request_change_selection(row, col);
    })
    document.querySelector(
      `#header-col-${ {{ index }} }`
    ).addEventListener("mouseup", (event) => {
      const [start_row, start_col] = get_selection_start();
      const end_row = "-1";
      const end_col = "{{ index }}";

      htmx.ajax(
        'PUT',
        `/selection/start/${start_row}/${start_col}/end/${end_row}/${end_col}`,
        {
          target: "#selection",
          swap: "outerHTML",
        }
      );

      reset_selection_start();
    });
  </script>
</th>
